// Цвета
$black: #161518;
$pink: #f35e79;
$white: #ffffff;

// Селкторы
$hover: #cd3a5b;
$focus: #ffced3;

// Шрифты
$font-family-base: "Montserrat", sans-serif;
$font-family-h: "Vetrino", sans-serif;

// Размеры шрифтов
$font-size-base: 24px;
$font-size-h1: 7em;
$font-size-h2: 4em;

// Отступы
$margin-base: 10px;
$padding-base: 20px;

// Анимация
$transition: 0.3s;
